<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;{{ site.time | date: '%Y' }} GOMOOB SARL. 
            Powered by <a href="http://gomoob.com" target="blank">GoMoob</a>
        </div>
    </div>
</div>

{% include disqus-counts.html %}
{% include analytics.html %}

    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/highlight.min.js"></script>
    <script src="{{ site.baseurl }}/js/material.min.js"></script>
    
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
