<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <link href="{{ site.baseurl }}/css/androidstudio.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/material.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <!-- li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/news/">News</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li-->
                    {% if site.github != '' %}
                      <a href="https://github.com/gomoob/backbone.hateoas"
                         target="_blank">
                          <img style="position: absolute; top: 0; right: 0; border: 0;" 
                               src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" 
                               alt="Fork me on GitHub" 
                               data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
                      </a>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
